.header {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 880px;
    display: flex;
    position: relative;
    border-bottom: 1px solid rgba(84,84,84,.7);
}


@media (max-width: 918px) {
    .header {
        margin-left: 19px;
        margin-right: 19px;
    }

}

@media (max-width: 580px) {
    .header {
        margin-top: 28px;
    }
}

