.profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 1;
    grid-row-end: auto;
}

@media (max-width: 580px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        justify-self: end;
    }
}