.profile__info {
    max-width: 336px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: max-content min-content;
    grid-template-rows: repeat(2,min-content);
    grid-row-gap: 16px;
    grid-column-gap: 18px;
    align-items: center;
    margin-right: auto;
}

@media (max-width: 701px) {
    .profile__info {
        margin-right: 0px;
    }
}

@media (max-width: 580px) {
    .profile__info {
        max-width: 100%;
        height: 54px;
        grid-template-columns: 189px 18px;
        grid-row-gap: 6px;
        grid-column-gap: 10px;
    }
}