.popup__place-container {
    max-width: 430px;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 34px 36px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0,0,0, 0.15);
}


@media (max-width: 580px) {
    .popup__place-container {
        width: 282px;
        padding: 22px 25px;
    }
}